body {
  margin: 0;
  overflow: hidden;

  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  color: #444;
}

#scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* Full viewport width */
  height: 200vh;
  /* Full viewport height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Transparent background */
  z-index: -10;
  /* Ensure it's on top */
}

.sub-container {
  position: absolute;
  width: 50%;
  height: 100%;
}

.sub-container:first-child {
  left: 0;
}

.sub-container:last-child {
  right: 0;
}

.splitter {
  position: absolute;
  left: 49.75vw;
  height: 100%;
  width: 0.5vw;

  background-color: black;
  z-index: 2;
}

.footer {
  position: absolute;
  left: 30%;
  width: 40%;
  bottom: 0;
  height: 4vh;

  text-align: center;
  font-size: 2vh;
  font-family: 'Playfair Display';
  line-height: 0%;
  color: #444;

  background-color: rgba(251, 236, 127, 0.7);
  z-index: 5;
}